*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-areas: "result content_details";
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 30px;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: content_details;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  max-width: 100%;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex: 1 1 0%;
  min-width: 0;
  overflow: hidden;
  width: 0;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0;
}

.content__accent {
  opacity: 0.2;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  max-width: 100%;
  overflow: hidden;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #ffffff;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  width: 100%;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: #fff;
  overflow: hidden;
  line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background: none;
  color: #FFFFFFB2;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  padding: 2px 0;
  min-width: 225px;
}

.search-form__textfield:focus {
  outline: none;
  border: 1px solid #fff;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  display: inline-block;
  height: 34px;
  padding: 0 16px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  cursor: pointer;

  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  margin-left: auto;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 26px;
}

.content__list-item {
  padding-left: 0px;
  padding-right: 3px;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
